
{% extends "base.html" %}

{% block title %}Patients{% endblock %}

{% block content %}

    <div class="d-flex justify-content-between align-items-center mb-4">

        <div>
            <h1 class="mb-0">Patients</h1>
            <p class="text-muted mb-0">
                Neonatal Electronic Health Record System
            </p>
        </div>

        <a href="/new-patient" class="btn btn-primary">
            + New Patient
        </a>

    </div>

    <!-- Search -->

    <div class="card shadow-sm mb-4">

        <div class="card-body">
            
            <div class="col">
                <label for="searchPatient" class="form-label fw-semibold text-secondary">
                  
                </label>
            <label class="form-label">
                Search Patient   <i class="bi bi-search me-1"></i> 
            </label>

            <input
                type="text"
                class="form-control"
                placeholder="Search by patient name..."
            >

        </div>

    </div>

    <!--  temporary Debug-->
    
    <div class="alert alert-info">
        Total patients: {{ patients|length }}
    </div>

    <!-- Patient List -->

    <div class="row">

        {% for patient in patients %}

        <div class="col-md-6 mb-4">

            <div class="card shadow-sm h-100">

                <div class="card-body">

                    <h5 class="card-title">
                        {{ patient.first_name }}
                        {{ patient.last_name }}
                    </h5>

                    <p class="text-muted">
                        {{ patient.sex }}
                    </p>

                    <p>
                        {{ patient.gestational_age }} weeks
                    </p>

                    <hr>

                    <p>
                        <strong>DOB:</strong>
                        {{ patient.date_of_birth }} 
                    </p>

                    <p>
                        <strong>Status:</strong>
                        Active
                    </p>

                    <a
                        href="/patient/{{ patient.patient_id }}"
                        class="btn btn-outline-primary"
                    >
                        View Record
                    </a>

                </div>

            </div>

        </div>

        {% endfor %}

    </div>

{% endblock %}