      <!-- Section: Medicamentos -->
      <div class="card shadow-sm mb-4">
        <div class="card-header d-flex justify-content-between align-items-center">

          <h5 class="mb-0">Medications</h5>
          <a href="/patient/{{ patient['patient_id'] }}/new-medication" class="btn btn-sm btn-primary">
              Register Medication
          </a>
        </div>
        <div class="card-body">
          {% if medications %}
          <div class="table-responsive">
            <table class="table table-striped table-hover mb-0">
                <thead>
                    <tr>
                        <th>Medication</th>
                        <th>Dose</th>
                        <th>Route</th>
                        <th>Frecuency</th>
                        <th>Start Date</th>
                        <th>End Date</th>
                    </tr>
                </thead>
                <tbody>
                    {% for medication in medications %}
                    <tr>
                        <td>{{ medication.medication_name }}</td>
                        <td>{{ medication.dose }}</td>
                        <td>{{ medication.route }}</td>
                        <td>{{ medication.frequency }}</td>
                        <td>{{ medication.start_date }}</td>
                        <td>{{ medication.end_date }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
          </div>
          {% else %}
          <p class="text-muted mb-0">No medications registered.</p>
          {% endif %}
        </div>
      </div>