<nav class="navbar navbar-expand-lg navbar-dark bg-primary shadow-sm">
    <div class="container">
        <a class="navbar-brand d-flex align-items-center gap-2" href="/">
            <i class="bi bi-hospital fs-4"></i>
            <span class="fw-bold">Neonatal EHR</span>
        </a>
        
      
        <button class="navbar-collapse-toggle navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Links de navegación (puedes adaptarlos a tus rutas) -->
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link active" href="/">
                        <i class="bi bi-people-fill me-1"></i> Patients
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
