<div class="card shadow-sm mb-4">

    <div class="card-header">
        <h5 class="mb-0">
            Patient Information
        </h5>
    </div>

    <div class="card-body">

        <div class="row">

            <div class="col-md-3">
                <strong>Date of Birth</strong>
                <p>{{ patient.date_of_birth }}</p>
            </div>

            <div class="col-md-3">
                <strong>Time of Birth</strong>
                <p>{{ patient.time_of_birth }}</p>
            </div>

            <div class="col-md-3">
                <strong>Sex</strong>
                <p>{{ patient.sex }}</p>
            </div>

            <div class="col-md-3">
                <strong>Delivery Type</strong>
                <p>{{ patient.delivery_type }}</p>
            </div>

        </div>

    </div>

</div>